<%- include('../layouts/header', {title:'Customers'}); -%>

<div class="container">
    <%- include('../partials/navbar') %>

    <h1>Customers</h1>

    <%- include('../partials/notifications') %>

    <div class="mt-20"></div>

    <% if (user.is_admin) { %>
        <a href="/customers/new">Add New Customer</a>
    <% } %>

    <table class="mt-20">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
        <% customers.forEach((customer)=> { %>
            <tr>
                <td><%= customer.name %></td>
                <td><%= customer.email %></td>
                <td>
                    <a href="/customers/<%= customer.id %>">View Details</a>
                </td>
            </tr>
        <% }) %>
    </table>
</div>

<%- include('../layouts/footer'); -%>